@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #3C3D37;
    height: 90vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
}

/* Formulário da Calculadora */

.calculator{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 33vh;
    width: 32.5vw;
}

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 23.5vh;
    width: 100%;
    color: #ECDFCC;
}

.inputForm{
    display: flex;
    flex-direction: column;
}

.inputForm input{
    height: 6.6vh;
    border: 1px solid #697565;
    border-radius: 5px;
    margin-top: 3px;
    padding: 13px 15px;
}

#submit{
    height: 6.6vh;
    background-color: #697565;
    color: #ECDFCC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/* Tabela de Resultados */
.resultTable{
    border-collapse: collapse;
    color: #ECDFCC;
    width: 32.5vw;
    text-align: center;
}

.resultTable th{
    border-bottom: 1px solid #697565;
    text-align: center;
    font-weight: 600;
}
.resultTable th, .resultTable td {
    width: 10%;
}

/* Tabela de Classficação Geral */
.classificationTable{
    border-collapse: collapse;
    width: 32.5vw;
}

.classificationTable th{
    color: #99a794;
    background-color: #69756569;
    text-align: start;
    font-weight: 700;
}
.classificationTable th, .classificationTable td{
    padding: 1px 5px;
}

.classificationTable td{
    color: #ECDFCC;
}

.classificationTable tbody tr:nth-child(even) {
    background-color: #69756569;
}

.classificationTable tbody tr:nth-child(odd) {
    background-color: #83927e88;
}


/* Responsividade para Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    main{
        border-radius: 0px;
        height: 100vh;
        width: 80vw;
    }

    .calculator{
        height: 33vh;
        width: 48vw;
    }

    .inputForm input, #submit{
        height: 6.4vh;
    }

    .resultTable{
        width: 48vw;
    }
    
    .classificationTable{
        width: 48vw;
    }
    

}

/* Responsividade para Celulares */
@media (max-width: 768px) {
    main{
        border-radius: 0px;
        height: 100vh;
        width: 100vw;
    }

    .calculator{
        height: 30vh;
        width: 80vw;
    }

    .inputForm input, #submit{
        height: 6.4vh;
    }

    .resultTable{
        width: 80vw;
    }
    
    .classificationTable{
        width: 80vw;
    }
    
}